h1 {
	color: #FF0000;
	text-decoration: underline;
}

body {
	background-color: #000000;
	font-family: helvetica;
	font-size: 1.5em;
	border-width: 20px
}

ul {
	color: #FF0000;
	list-style: upper-alpha;
}

p {
	color: #FF0000;
}

a:hover {
	color: #66FF33;
}

a:visited {
	color: #FFF;
}